:root {
  --main-color-1: #6f0320;
  --main-color-2: #fff;
  --error-color: #ff6663;
  --light-font: 'Roboto-Light';
  --regular-font: 'Roboto-Regular';
  --bold-font: 'Roboto-Bold';
  --dark-font: 'Roboto-Black';
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

body {
  background-color: var(--main-color-1);
}

@media (max-width: 750px) {
  .main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .mid-content {
    flex-grow: 1;
    min-height: 280px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-2);
    font-family: var(--dark-font);
    font-size: 1.4rem;
    height: 70px;
  }

  .error-msg {
    position: absolute;
    top: -100%;
    background-color: var(--error-color);
    width: 100%;
    transition: top 1s ease-in-out;
  }

  .error-msg.show-error {
    top: 0;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    background-color: green;
    margin-left: 40px;
    margin-right: 40px;
    height: 45px;
  }

  .search-container > li:nth-child(1) {
    width: 100%;
  }

  input {
    box-sizing: border-box;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--main-color-1);
    font-family: var(--regular-font);
    font-size: 1rem;
  }

  input::placeholder {
    color: var(--main-color-1);
    font-family: var(--regular-font);
    font-size: 1rem;
    opacity: 0.8;
  }

  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    background-color: var(--main-color-2);
    height: 100%;
  }

  .search-box > img {
    margin-right: 15px;
  }

  .search-btn {
    box-sizing: border-box;
    border: 1px solid var(--main-color-2);
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    font-family: var(--regular-font);
    font-size: 1rem;
    width: 100px;
    height: 100%;
  }

  .small-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

  .unit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color-2);
    height: 45px;
    margin-left: 40px;
    margin-right: 40px;
    color: var(--main-color-2);
    font-family: var(--regular-font);
    font-size: 1.4rem;
    box-sizing: border-box;
  }

  .selected-unit {
    font-family: var(--bold-font);
  }

  .main-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    height: 100%;
  }

  .main-icon {
    width: 150px;
    height: 150px;
  }

  .main-content-container {
    font-family: var(--light-font);
    color: var(--main-color-2);
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 70px;
  }

  .main-temp {
    font-size: 4rem;
  }

  .main-desc {
    font-size: 2rem;
    font-family: var(--bold-font);
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main-city {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .main-subcontent-container {
    font-family: var(--light-font);
    line-height: 1.3;
    font-size: 1.5rem;
  }
}
